Package: ian
Version: 1.0.1
Section: misc
Priority: optional
Architecture: amd64
Maintainer: Robert McLeod <robert@autogrow.com>
Essential: no
Homepage: https://github.com/penguinpowernz/go-ian
Installed-Size: 44
Depends: fakeroot, dpkg-dev, rsync, coreutils, findutils
Description: Debian Package Management
  Provides a command to help with managing Debian
  packages in a git repository
