Package: ian
Version: 4.0.0
Section: misc
Priority: optional
Architecture: armel
Maintainer: Robert McLeod <robert@autogrow.com>
Essential: no
Homepage: https://github.com/penguinpowernz/go-ian
Installed-Size: 4830
Description: Debian Package Management
  Provides a command to help with managing Debian
  packages in a git repository
